## visual studio
.vs
LumberJack.sln

## build
Binaries
Build
Intermediate
Saved
Plugins/MyClient/Binaries
Plugins/MyClient/Content
Plugins/MyClient/Intermediate

## asio Path: Plugins/Source/ThirdParty/asio/include
Plugins/MyClient/Source/ThirdParty/asio

## asset
Content
Resources

## Temp Resources
Source/FBX
Source/Maya
Source/MotionBuilder
Source/SKMannequin_A_Pose
Source/SKMannequin_T_Pose
